[submodule "blog/themes/ananke"]
	path = blog/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "blog/themes/blowfish"]
	path = blog/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "blog/themes/hugo-texify3"]
	path = blog/themes/hugo-texify3
	url = https://github.com/michaelneuper/hugo-texify3.git
[submodule "blog/themes/hugo-theme-nightfall"]
	path = blog/themes/hugo-theme-nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall
[submodule "blog/themes/nightfall"]
	path = blog/themes/nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall
[submodule "blog/themes/PaperMod"]
	path = blog/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
